@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  width: 100wh;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-info {
  text-align: right;
  margin: 180px 230px 180px 700px;
}
.banner-info .banner-title {
  color: #151414;
  font-size: 55px;
  font-weight: 700;
}
.banner-info .banner-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 24px 0px 30px 30px;
}
.banner-info .btn1 {
  border-radius: 5px;
  background: #f15b22;
  padding: 20px 26px;
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;
  gap: 87px;
}
.person {
  width: 569px;
  height: 666.5px;
}

.section-title {
  color: #151414;
  font-size: 40px;
  width: 288px;
  font-weight: 700;
  margin-bottom: 24px;
}
.checktext i {
  color: #16d887;
  margin-right: 10px;
}
.checktext h4 {
  margin-bottom: 8px;
  display: block;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 26px;
}
.my-plans-section {
  margin: 130px 300px;
  text-align: center;
  /* background-color: #f15b22; */
  padding: 10px;
}
.my-plans-section-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 55px;
}
.plans-item-title {
  color: #151414;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
}
.section-description {
  width: 416px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.my-plans-section .plans-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 99px;
}
.watch {
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url("../images/watch.png") no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1090px;
  height: 260px;
  border-radius: 8px;
  margin: 90px 230px;
}
.watch-info {
  margin: 59px 620px 59px 64px;
}

.watch-text {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.call-now {
  padding: 15px 30px;
  border-radius: 5px;
  background: #fff;
  color: #f15b22;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: 0px;
}
footer {
  background: #151414;
  width: 100wh;
  height: 500px;
  margin-top: 100px;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 130px 230px;
  gap: 331px;
}
.left-column {
  width: 55%;
}
.column-left-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.column-left-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.left-column h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.icons {
  display: flex;
}
.icons img {
  margin-right: 10px;
  margin-top: 25px;
  width: 46px;
  height: 46px;
}
.right-column {
  display: block;
}
.column-right-title {
  color: #fff;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
form input {
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  background: #151414;
  padding: 20px;
  margin-top: 31px;
  margin-bottom:25px;
  border: 1px solid #fff;
}
